* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  height: 100vh;
  background: rgb(0,5,4);
  background: radial-gradient(circle, rgba(0,5,4,1) 0%, rgba(38,6,21,1) 51%, rgba(13,74,39,1) 100%);
  position: relative;
}

.container-top {
  height: 140px;
  width: 100%;
  background: rgb(6,103,88);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(1,7,14,1) 100%);
}

.container-main {
  width: 80%;
  height: calc(100% - 50px);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.template {
  display: none;
}

/* aside */

aside {
  width: 430px;
  float: left;
}

/* Aside top */
.aside-top {
  height: 80px;
  background: rgb(6,103,88);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(1,7,14,1) 100%);
  border-right: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 30px;
  color: #b1b1b1;
}

.avatar-top {
  height: 60px;
  border-radius: 50%;
}

.asd-top-icons i, .main-top-icons i {
  padding-left: 12px;
  cursor: pointer;
}

/* aside notifiche */

.aside-notifications {
  height: 90px;
  background-color: #3b89ac;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.ntf-bell {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f2fbff;
  color: #3b89ac;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ntf-text {
  padding-left: 5px;
}

.ntf-text p {
  color: rgba(2, 41, 34, 1);
  text-decoration: underline;
}

/* barra ricerca aside */

.aside-search {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 40px;
  width: calc(100% - 14px);
  display: flex;
}

#searchIcon {
  background-color: black;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  color: #b1b1b1;
}

#search {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 5px;
  border-radius: 5px;
}

/* aside contacts */

.aside-contacts {
  background: rgb(6,103,88);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(1,7,14,1) 100%);
  height: calc(100vh - 270px);
  overflow-y: auto;
}

.contact-preview {
  height: 80px;
  background: rgb(6,103,88);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(1,7,14,1) 100%);
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  color: white;
  position: relative;
}

.contact-preview.active {
  background: rgb(15,101,66);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(168,172,169,1) 51%, rgba(6,103,88,1) 100%);
  color: black;
}

.contact-preview:hover {
  background: rgb(15,101,66);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(168,172,169,1) 51%, rgba(6,103,88,1) 100%);
  color: black;
}

.avatar {
  height: 60px;
  border-radius: 50%;
}

.contact-text {
  padding-left: 12px;
}

.main-cnt-details h4 {
  padding-bottom: 5px;
  color: white;
}

.contact-time  {
  align-self: flex-start;
  padding-top: 10px;
  font-size: 12px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

/* main */

main {
  width: calc(100% - 430px);
  max-width: calc(100% - 430px);
  float:left;
}

/* main contact */

.main-contact {
  height: 80px;
  background: rgb(6,103,88);
  background: radial-gradient(circle, rgba(6,103,88,1) 0%, rgba(1,7,14,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.main-cnt-access {
  display: flex;
  align-items: center;
}

.main-cnt-details {
  padding-left: 10px;
}

.main-cnt-details p {
  color: #b1b1b1;
}

.main-top-icons {
  font-size: 30px;
  color: #b1b1b1;
}
/* main chat */

.main-chat {
  height: calc(100vh - 210px);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,5,13,1) 11%, rgba(31,70,43,1) 38%, rgba(19,66,106,1) 55%, rgba(62,23,95,1) 78%, rgba(26,75,85,1) 100%);
  overflow-y: scroll;
  display: none;
}

.main-chat.active {
  display: block;
}

.chat-text {
  min-width: 10%;
  max-width: 30%;
  min-height: 1%;
  border-radius: 5px;
  padding: 3px 4px;
  margin: 10px 0;
  word-wrap: break-word;
}

.white {
  background-color: white;
  float: left;
  clear: both;
  margin-left: 20px;
}

.green {
  background-color: #d2fcb6;
  float: right;
  clear: both;
  margin-right: 20px;
}

.chat-time {
  text-align: right;
  font-size: 12px;
}

/* main text */

.main-text {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

.main-text a i {
  color: #6b7376;
  font-size: 30px;
  padding: 0 20px;
}

.main-text button  {
  color: #6b7376;
  font-size: 30px;
  padding: 0 25px;
  border: none;
  outline: none;
  background-color: black;
}

#send {
  display: none;
}

#message {
  width: 100%;
  border: none;
  outline: none;
  border-width: 0px;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
}

.hide {
  display: none;
}
