* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  height: 100vh;
  background-color: #dbdbd3;
  position: relative;
}

.container-top {
  height: 140px;
  width: 100%;
  background-color: #009788;
}

.container-main {
  width: 80%;
  height: calc(100% - 50px);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* aside */

aside {
  width: 430px;
  float: left;
}

/* Aside top */
.aside-top {
  height: 80px;
  background-color: #eaeaea;
  border-right: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 30px;
  color: #b1b1b1;
}

.avatar-top {
  height: 60px;
  border-radius: 50%;
}

.asd-top-icons i {
  padding-left: 12px;
}

/* aside notifiche */

.aside-notifications {
  height: 90px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.ntf-bell {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f2fbff;
  color: #8edafc;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ntf-text {
  padding-left: 5px;
}

.ntf-text p {
  color: #417a83;
  text-decoration: underline;
}

/* barra ricerca aside */

.aside-search {
  height: 50px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 40px;
  width: calc(100% - 14px);
  display: flex;
}
#searchIcon {
  background-color: white;
  border: none;
  font-size: 20px;
  padding: 0 10px;
}

#search {
  width: 100%;
  border: none;
  border-width: 0px;
  box-shadow: none;
}

/* aside contacts */

.aside-contacts {
  background-color: yellow;
  height: calc(100vh - 270px);
  overflow-y: auto;
}

.contact-preview {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.contact-preview:hover {
  background-color: #e9ebea;
}

.avatar {
  height: 60px;
  border-radius: 50%;
}

.contact-text {
  padding-left: 10px;
  padding-right: 40px;
}

.contact-time  {
  align-self: flex-start;
  padding-top: 10px;
}

main {
  width: calc(100% - 430px);
  float: left
}

.main-contact {
  height: 80px;
  background-color: #eaeaea;
}

.main-chat {
  height: calc(100vh - 210px);
  background-color: #e5dcd5;
}

.main-text {
  height: 80px;
  background-color: #f3eeea;
}
